* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: black;
  height: 12vh;
  width: 100vw;
  position: relative;
  z-index: 1000;
}

.nav-list {
  list-style: none;
  display: flex;
  z-index: 1001;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
    flex-direction: column;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 35.5vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1001;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu{
    display: block;
    z-index: 1002;
  }
}
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
    
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.tropa {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.tropa img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.tropa h2 {
    font-size: 1.5em;
    margin: 10px 0;
}
